<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text="Back"  color="grey"></ion-back-button>
  </ion-buttons>
    <ion-title color="grey">KNL</ion-title>
    
<ion-buttons slot="end">
  <ion-button (click)="home()">
    <ion-icon slot="icon-only" name="home" color="grey"></ion-icon>
</ion-button>
</ion-buttons>  

  </ion-toolbar>
</ion-header>

<ion-content>
 
<pdf-viewer [src]=pdfSrc[0] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[1] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[2] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[3] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[4] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[5] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[6] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[7] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[8] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[9] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[10] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[11] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[12] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[13] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[14] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>
<pdf-viewer [src]=pdfSrc[15] [original-size]="false" [external-link-target]="'blank'" [autoresize]="true" [render-text]="true" style="width: 400px; height: 500px"></pdf-viewer>


</ion-content>


<!-- <ion-content> -->
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"> -->
    <!-- <ion-refresher-content -->
      <!-- pullingIcon="chevron-down-circle-outline" -->
      <!-- pullingText="Pull to refresh" -->
      <!-- refreshingSpinner="lines" -->
      <!-- refreshingText="Refreshing..."> -->
    <!-- </ion-refresher-content> -->
  <!-- </ion-refresher> -->
  <!--  -->
  <!-- <ion-card *ngFor ='let R of Results' color='warning' expand="block" shape="round"> -->
    <!-- <ion-card-content> -->
      <!--  -->
      <!-- <h2> {{R?.name}} จังหวัด:{{R?.province}}</h2> -->
      <!-- <h1>{{R?.number}}</h1>  -->
      <!-- <ion-badge color="primary" slot="end"> -->
        <!-- {{R?.totalnumber}} -->
      <!-- </ion-badge> -->
     <!-- <p>จำนวน pri :{{R?.member_pri}}</p> -->
     <!-- <p>ชุมสาย:{{R?.type}}</p> -->
     <!-- </ion-card-content> -->
  <!-- </ion-card> -->
  <!--  -->
  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"> -->
    <!-- <ion-infinite-scroll-content -->
      <!-- loadingSpinner="lines" -->
      <!-- loadingText="กำลังโหลด เพิ่มเติม..."> -->
    <!-- </ion-infinite-scroll-content> -->
  <!-- </ion-infinite-scroll> -->
 <!--  -->
<!-- </ion-content> -->
