<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text="Back" color="grey"></ion-back-button>
  </ion-buttons>
  
    <ion-title color="grey">pri กรุณาเลือกจังหวัด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  
  <ion-item  (click)='priChart()' color='yellow' >
    <ion-label color="grey"><h1>PRI CHART</h1></ion-label>
  </ion-item>
  <ion-item (click)='priSka()'color='yellow'  >
    <ion-label color="grey"><h1>สงขลา</h1></ion-label>
   <!--  <ion-badge color="warning" slot="end">{{2}}</ion-badge> -->
  </ion-item>
  <ion-item  (click)='priYla()' color='yellow'  >
    <ion-label color="grey"><h1>ยะลา</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priNwt()' color='yellow'>
    <ion-label color="grey"><h1>นราธิวาส</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priPna()' color='yellow' >
    <ion-label color="grey"><h1>พังงา</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priSni()' color='yellow' >
    <ion-label color="grey"><h1>สุราษฎร์ธานี</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priKos()' color='yellow' >
    <ion-label color="grey"><h1>เกาะสมุย</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priTrg()' color='yellow' >
    <ion-label color="grey"><h1>ตรัง</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priKbi()'  color='yellow'>
    <ion-label color="grey"><h1>กระบี่</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priNrt()' color='yellow' >
    <ion-label color="grey"><h1>นครศรีธรรมราช</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priPkt()' color='yellow'>
    <ion-label color="grey"><h1>ภูเก็ต</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priCpn()' color='yellow' >
    <ion-label color="grey"><h1>ชุมพร</h1></ion-label>
  </ion-item>
  <ion-item  (click)='priRng()' color='yellow' >
    <ion-label color="grey"><h1>ระนอง</h1></ion-label>
  </ion-item>
  


</ion-card>
</ion-content>
