<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
     </ion-buttons>
     
    <ion-title>ข่าวสาร {{totalResults}} ข่าว</ion-title>
    <ion-img slot='end' src='./assets/icon/tot.png'></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="lines"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor ='let n of articles' color='warning'>
    <img *ngIf="n.urlToImage" src="{{n?.urlToImage}}" />
     <!-- <ion-img  src="{{n?.urlToImage}}"></ion-img> -->
    <ion-card-header>
     <!--  <ion-card-subtitle>subtitle</ion-card-subtitle> -->
      <ion-card-title>{{n?.title}}</ion-card-title>
      <!-- <ion-button routerDirection="forward" routerLink ="/detail-news" class="ion-padding" shape="round"> -->
        <ion-button color='success' class="ion-padding" shape="round" (click)="ClickDetailNews(n?.url)">
        รายละเอียดข่าว
      </ion-button>
     
    </ion-card-header>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">{{n?.source.name}}</ion-col>
        <ion-col size="6" class ='ion-text-end'>{{n?.publishedAt | date : 'dd/MM/yyyy HH:ss'}}</ion-col>
      </ion-row>
    </ion-grid>

 </ion-card>
 <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="lines"
    loadingText="กำลังโหลดข่าว เพิ่มเติม...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
