<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text="Back" ></ion-back-button>
  </ion-buttons>
  <ion-title>pri พังงา : {{totalItem}} รายการ</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
</ion-button>
 </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="lines"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor ='let R of Results' color='warning' expand="block" shape="round">
    <ion-card-content>
      
      <h2> {{R?.name}} จังหวัด:{{R?.province}}</h2>
      <h1>{{R?.number}}</h1> 
      <ion-badge color="primary" slot="end">
        {{R?.totalnumber}}
      </ion-badge>
     <p>จำนวน pri :{{R?.member_pri}}</p>
     <p>ชุมสาย:{{R?.type}}</p>
     </ion-card-content>
  </ion-card>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="lines"
      loadingText="กำลังโหลด เพิ่มเติม...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
 
</ion-content>
