<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text="Back" color="grey" ></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="home()">
      <ion-icon slot="icon-only" name="home" color="grey"></ion-icon>
    </ion-button>
    </ion-buttons> 
    <ion-title color="grey">Traffic NSC {{totalItem}} วงจร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="lines"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  
    
  
    <ion-card *ngFor ='let R of Results' color='yellow'>
     
      <ion-card-content>
        <ion-text color="grey">
        <h1>ชุมสาย:  {{R?.chumsai}} Route:{{R?.route}}</h1>
        <p>Outgoing:  {{R?.outgoing}}  </p>
        <p>Incoming:  {{R?.incoming}}  </p>
        <p>Bothway: {{R?.bothway}}  </p>
      </ion-text>
      </ion-card-content>
    </ion-card>
  

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="lines"
      loadingText="กำลังโหลด เพิ่มเติม...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
