<ion-header>
  <ion-toolbar>
    <ion-title color="grey">SIP TRUNK ภก.3</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  text="Back" color="grey" ></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="lines"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <ion-card> -->
    <!-- <div id="highcharts"></div> -->
  <!-- </ion-card> -->
  <ion-card >
    <ion-img src='https://omchyi.site/power/siptrunk.jpg'></ion-img>
    <!-- <ion-img  src='./assets/icon/siptrunk.jpg'></ion-img> -->
  </ion-card>
  <ion-card>
    <div id="highCharts"></div>
  </ion-card>

  <ion-card>
    <ion-list-header color='yellow'>
      <ion-label> <ion-text color="grey">จังหวัด</ion-text></ion-label>
      <!-- <ion-button class='soft' >Soft</ion-button> -->
      <ion-button color="grey">วงจร</ion-button>
    </ion-list-header>
    <ion-item *ngFor ='let R of resultArea' color='yellow' (click)="detailSip(R)">
     <!--  <ion-badge color="lightgreen" class='soft'>{{R?.Soft}}</ion-badge> -->
      <ion-badge color="grey" slot="end">{{R?.Crm}}</ion-badge>
     
      
      <ion-label color="grey">
        <p >{{R?.province}} </p>
              
      </ion-label>
    </ion-item>
  </ion-card>


</ion-content>
