<ion-header>
  <ion-toolbar>
    <ion-title color="grey">SIP Trunk {{item?.province}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button  text="Back" color="grey" ></ion-back-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button (click)="home()">
      <ion-icon slot="icon-only" name="home" color="grey"></ion-icon>
  </ion-button>
  </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="lines"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

<!--  -->
  <!-- <ion-card> -->
    <!-- <ion-list-header color='dark'> -->
      <!-- <ion-label>Name</ion-label> -->
      <!-- <ion-button color="yellow">Number</ion-button> -->
      
    <!-- </ion-list-header> -->
    <!--  -->
    <!-- <ion-item *ngFor ='let R of Result' color='orange' > -->
   <!--    <ion-badge color="red" slot="end">{{R?.totalnum}}</ion-badge> -->
      <!--  -->
     <!-- <ion-label> -->
        <!-- <p>{{R?.name}} </p> -->
        <!-- <p>{{R?.number}} </p>       -->
      <!-- </ion-label> -->
    <!-- </ion-item> -->
  <!-- </ion-card> -->
  <ion-card *ngFor ='let R of Result' color='yellow' expand="block" shape="round">
    <ion-card-content>
      <ion-text color="grey">
      <h2> {{R?.name}} </h2>
      <h2 *ngIf="R.circuit">{{R?.circuit}}</h2>
      <h1>{{R?.number}}</h1> 
    </ion-text>
      <ion-badge color="grey" slot="end" *ngIf="R.total">
        {{R?.total}}
      </ion-badge>
     <!-- <p>จำนวน pri :{{R?.member_pri}}</p> -->
     <!-- <p>ชุมสาย:{{R?.type}}</p> -->
     </ion-card-content>
  </ion-card>


</ion-content>
