<ion-header>
  <ion-toolbar>
    <ion-title color="grey">IDC {{totalItem}} Server </ion-title>
    <ion-buttons slot="start">
      <ion-back-button  text="Back" color="grey"></ion-back-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button (click)="home()">
      <ion-icon slot="icon-only" name="home" color="grey"></ion-icon>
    </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="lines"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  
    

    
    
 
    <ion-card *ngFor="let R of Results;" color='yellow' > 
      <ion-card-content>
        
      
      <ion-thumbnail slot="start" >
        <img src={{R?.image}} *ngIf=R?.image>
      </ion-thumbnail>
      
        <ion-label color="grey" >
      
         <h1>{{R?.name}}</h1>
         <p>{{R?.contact}} </p>
         <p>โทร.{{R?.tel}}</p>
        </ion-label>
        
       
      </ion-card-content>
       <!-- <ion-badge color="danger" slot="end">{{p.view |number}}</ion-badge> -->
    </ion-card>
 


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="lines"
      loadingText="กำลังโหลด เพิ่มเติม...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
