<ion-header>
  <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>     
    <ion-title>เจ้าหน้าที่</ion-title>
    <ion-img slot='end' src='./assets/icon/tot.png'></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">


  
  <!-- <ion-list> -->
    <!-- <ion-item *ngFor="let s of staff;" >  -->
      <!-- <ion-thumbnail slot="start" > -->
        <!-- <img src="{{s?.picture}}"*ngIf="s.picture" /> --> 
      <!-- </ion-thumbnail> -->
      <!-- <ion-label  > -->
        <!-- <ion-text > -->
         <!--  -->
         <!-- <h2>ชื่อ {{s?.name}}</h2> -->
         <!-- <p>รหัสพนักงาน :{{s?.code}}</p> -->
         <!-- <p *ngIf='s.jobPosition'>ตำแหน่งบริหาร :{{s.jobPosition}}</p> -->
         <!-- <p>ตำแหน่ง :{{s?.positon}}</p> -->
         <!-- <p>email:{{s?.email}}</p> -->
         <!-- <p>โทร:{{s?.mobile}}</p> -->
<!--  -->
        <!-- </ion-text> -->
       <!-- </ion-label> -->
       <!-- <ion-badge color="danger" slot="end">{{p.view |number}}</ion-badge> -->
    <!-- </ion-item> -->
  <!-- </ion-list> -->



  <ion-card *ngFor="let s of staff;" color='success' >
       
    <ion-card-content>
      
       <ion-thumbnail slot="start" >
        <img src="{{s?.picture}}"*ngIf="s.picture" /> <!-- ngIfcheckpicture -->
      </ion-thumbnail>
      <h2>ชื่อ {{s?.name}}</h2>
         <p>รหัสพนักงาน :{{s?.code}}</p>
         <p *ngIf='s.jobPosition'>ตำแหน่งบริหาร :{{s.jobPosition}}</p>
         <p>ตำแหน่ง :{{s?.positon}}</p>
         <p>email:{{s?.email}}</p>
         <p>โทร:{{s?.mobile}}</p>
    
        </ion-card-content>
     
  </ion-card>
</ion-content>
