<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text="Back" color="grey"></ion-back-button>
  </ion-buttons>
    <ion-title color="grey">กรุณาเลือก area code </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
<ion-card color='blue' (click)="openCot073()" >
  <h1>area code 073</h1>
</ion-card>
<ion-card color='browse' (click)="openCot074()">
  <h1>area code 074</h1>
</ion-card>
<ion-card color='red' (click)="openCot075()">
  <h1>area code 075</h1>
</ion-card>
<ion-card color='silver' (click)="openCot076()">
  <h1>area code 076</h1>
</ion-card>
<ion-card color='lightgreen' (click)="openCot077()">
  <h1>area code 077</h1>
</ion-card>
</div>
</ion-content>
